@use "../mixins/namespace" as *;

body {
  color: var(--#{$teek-namespace}-text-gray-800);

  // 全局背景色同步（开启解决全弄适白色背景问题）
  background-color: var(--#{$teek-namespace}-bg-color-page);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--#{$teek-namespace}-text-gray-800);
}

// 主题色悬停样式
.primary-color-hover:hover {
  color: var(--#{$el-namespace}-color-primary);
}

.w300 {
  width: 300px !important;
}
