@use "../mixins/namespace" as *;

/* 背景色原子类 */
.#{$teek-namespace}-bg-primary {
  color: var(--#{$teek-namespace}-color-primary) !important;
  background-color: var(--#{$teek-namespace}-bg-primary) !important;
}

.#{$teek-namespace}-bg-secondary {
  color: var(--#{$teek-namespace}-color-secondary) !important;
  background-color: var(--#{$teek-namespace}-bg-secondary) !important;
}

.#{$teek-namespace}-bg-warning {
  color: var(--#{$teek-namespace}-color-warning) !important;
  background-color: var(--#{$teek-namespace}-bg-warning) !important;
}

.#{$teek-namespace}-bg-error {
  color: var(--#{$teek-namespace}-color-error) !important;
  background-color: var(--#{$teek-namespace}-bg-error) !important;
}

.#{$teek-namespace}-bg-success {
  color: var(--#{$teek-namespace}-color-success) !important;
  background-color: var(--#{$teek-namespace}-bg-success) !important;
}

.#{$teek-namespace}-bg-danger {
  color: var(--#{$teek-namespace}-color-danger) !important;
  background-color: var(--#{$teek-namespace}-bg-danger) !important;
}

/* 主题文本原子类 */
.#{$teek-namespace}-text-primary {
  color: var(--#{$teek-namespace}-color-primary) !important;
}

.#{$teek-namespace}-text-secondary {
  color: var(--#{$teek-namespace}-color-secondary) !important;
}

.#{$teek-namespace}-text-error {
  color: var(--#{$teek-namespace}-color-error) !important;
}

.#{$teek-namespace}-text-danger {
  color: var(--#{$teek-namespace}-color-danger) !important;
}

.#{$teek-namespace}-text-info {
  color: var(--#{$teek-namespace}-color-info) !important;
}

.#{$teek-namespace}-text-success {
  color: var(--#{$teek-namespace}-color-success) !important;
}

.#{$teek-namespace}-text-warning {
  color: var(--#{$teek-namespace}-color-warning) !important;
}

.#{$teek-namespace}-text-muted {
  color: var(--#{$teek-namespace}-text-muted) !important;
}

// 灰度文本原子类
@for $i from 1 through 9 {
  $level: $i * 100;
  .#{$teek-namespace}-text-gray-#{$level} {
    color: var(--#{$teek-namespace}-text-gray-#{$level}) !important;
  }
}

/* 边框原子类 */
.#{$teek-namespace}-border {
  border: 1px solid var(--#{$teek-namespace}-border-color) !important;
}

.#{$teek-namespace}-border-dashed {
  border: 1px dashed var(--#{$teek-namespace}-border-dashed-color) !important;
}

.#{$teek-namespace}-shadow-xs {
  box-shadow: var(--#{$teek-namespace}-box-shadow-xs) !important;
}

.#{$teek-namespace}-shadow-sm {
  box-shadow: var(--#{$teek-namespace}-box-shadow-sm) !important;
}

.#{$teek-namespace}-shadow {
  box-shadow: var(--#{$teek-namespace}-box-shadow) !important;
}

.#{$teek-namespace}-shadow-lg {
  box-shadow: var(--#{$teek-namespace}-box-shadow-lg) !important;
}
